#container {
    padding: 2em;

    button {
        background: blueviolet;
        border: none;
        color: #fff;
        cursor: pointer;
        margin: 0 10px 20px 0;
        outline: none;
        padding: 10px;
        width: 140px;
    }

    .comment {
        background: #fff;
        display: block;
        height: 30px;
        margin: 0 auto 10px auto;
        padding: 1em;
        width: 50%;
    }
}