<div id="container" [@listAnimation]="comments.length">

  <button (click)="initItems()">Get comments</button>
  <button (click)="removeItems()">Remove comments</button>

  <div class="comment" *ngFor="let comment of comments">
    {{ comment.body }}
  </div>

</div>